.researchteam{
	height: 188px;
	width: 96%;
	border: 1px solid rgb(141, 171, 158);
	margin-top: 15px;
}
.menname{
	height: 34px;
	line-height:34px;
	font-size:15px;
	font-weight:bold;
	background:rgb(219,227,244);
	border-bottom: 1px solid rgb(141, 171, 158);
}
.menname a{
	text-decoration: none;
	color:rgb(1, 93, 93);
}
.menname a:HOVER{
	text-decoration: underline;
	color: gray;
}
.menimg{
	width: 100%;
	height: 100%;
}
.menpicture{
	width: 111px;
	height: 151px;
	float: left;
}
.fenge{
	width: 2px;
	height: 110px;
	margin-left:10px;
	border-right: 1px solid rgb(141, 171, 158);
	float: left;
	margin-top: 20px;
}
.menintroduce{
	width: 76%;
	height: 147px;
	float: left;
	margin-left: 14px;
	padding: 2px;
	font-size: 13px;
	line-height: 21px;
	font-family: "ו";
	text-align:justify;
	text-justify:inter-ideograph;
	overflow: hidden;
	text-indent: 2em;
}