.ttitle{
	width: 100%;
	height: 34px;
	background:#DBE3F4;
	border-bottom:1px solid #CFCFCF;
	font-size:15px;
	font-weight:bold;
	
}
.ttitle a{
	text-decoration: none;
	color:#015D5D;
	line-height:34px;
}
.ttitle a:hover{
	color:#808080;
}
.tcontent{
	width:98.9%;
	height:auto;
	padding:4px;
	text-align: left;
	font-size: 13px;
	line-height: 21px;
	font-family: "ו";
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent: 2em;
	min-height:200px;
	
}
.tcontent img{
	height:147px;
	width:109px;
	float:left;
	margin-right:18px;
	margin-bottom:2px;
}
.binfo{
	width:100%;
	min-height:30px;
	line-height:30px;
	background:#DBE3F4;
	color:rgba(3, 47, 47, 0.6);
	border-top:1px solid #CFCFCF;
	overflow: hidden;
	text-align: left;
}